body {
  font-family: "Roboto", sans-serif;
}

#graph-container {
  width: 95vw; 
  height: 70vh; 
  border: 2px solid #282729;
  display: flex;
  justify-content: center; 
  align-items: center; 
  overflow: auto; 
  background-color: whitesmoke;
}

#graph {
  width: 95%; 
  height: 95%; 
}

#fairness-container {
  width: 95vw; 
  height: 10vh; 
  border: 2px solid #282729; /* add a border around the box */
  display: flex;
  justify-content: center;
  align-items: center; 
  overflow: auto; /* add scrollbars if the SVG gets too big */
  background-color: whitesmoke;
}
