body {
  font-family: Arial, sans-serif;
}

#graph-container {
  width: 20vw; /* make the box 80% of the viewport width */
  height: 40vh; /* make the box 80% of the viewport height */
  border: 2px solid; /* add a border around the box */
  border-color: #282729;
  display: flex; /* use flexbox to center the SVG */
  justify-content: center; /* center the SVG horizontally */
  align-items: center; /* center the SVG vertically */
  overflow: auto; /* add scrollbars if the SVG gets too big */
  background-color: cornsilk;
}

#graph {
  width: 95%; /* make the SVG 95% of the box size */
  height: 95%; /* make the SVG 95% of the box size */
}
