body {
    font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;

}

  #graph-container {
    width: 50vw;
    height: 60vh;
    display: flex;
    margin: auto;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    border-color: #282729;
    justify-content: center;
    align-items: center;
    background-color: floralwhite;
}

#graph {
    width: 90%;
    height: 90%;
}


